.App {
  text-align: center;
}

.App-header {
  background-color: #033076;
  min-height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

h4 {
  font-style: italic;
}

textarea {
  height: 150px;
  width: 425px;
  resize: none;
}

.home_button {
  padding-top: 5%;
}

.button_area {
  padding-top: 35px;
  width: 75%;
  display: flex;
  justify-content: space-around;
  margin: auto;
}

.feedback_box {
  margin: auto;
  margin-top: 10%;
  width: 50%;
  border-radius: 25px;
  border: 2px solid #2196f3;
  padding: 20px;
  width: 450px;
  height: 250px;
}

.comment_box {
  margin: auto;
  margin-top: 10%;
  width: 50%;
  border-radius: 25px;
  border: 2px solid #2196f3;
  padding: 20px;
  width: 525px;
  height: 350px;
}

.review_box {
  margin: auto;
  margin-top: 10%;
  width: 50%;
  border-radius: 25px;
  border: 2px solid #2196f3;
  padding: 20px;
  width: 525px;
  flex-direction: column
}

select {
  display: block;
  margin: 0 auto;
}

table {
  width: 90%;
  margin: auto;
  border-collapse: collapse;
  border: 2px solid rgb(77, 77, 77);
}

th {
  background-color: #000000;
  color: white;
}

tr {
  border-bottom: 1px solid rgb(77, 77, 77);
}
tr:nth-child(even) {
  background-color: lightgrey;
}
tr:nth-child(odd) {
  background-color: #2196f3;
}

td {
  padding: 9px;
  border: 1px solid rgb(77, 77, 77);
}

tr:hover{
  background-color: white;
  transition: .4s;
}