.App {
  text-align: center;
}

.App-header {
  background-color: #033076;
  min-height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

h4 {
  font-style: italic;
}

textarea {
  height: 150px;
  width: 425px;
  resize: none;
}

.button_area {
  padding-top: 35px;
  width: 75%;
  display: flex;
  justify-content: space-around;
  margin: auto;
}

.feedback_box {
  margin: auto;
  width: 50%;
  border-radius: 25px;
  border: 2px solid rgba(48, 48, 243, 0.884);
  padding: 20px;
  width: 450px;
  height: 250px;
}

.comment_box {
  margin: auto;
  width: 50%;
  border-radius: 25px;
  border: 2px solid rgba(48, 48, 243, 0.884);
  padding: 20px;
  width: 525px;
  height: 350px;
}

.review_box {
  margin: auto;
  width: 50%;
  border-radius: 25px;
  border: 2px solid rgba(48, 48, 243, 0.884);
  padding: 20px;
  width: 525px;
  flex-direction: column
}

select {
  display: block;
  margin: 0 auto;
}