.App {
  text-align: center;
}

h2 {
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
}

h4 {
  font-style: italic;
}

textarea {
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  text-align: center;
  height: 150px;
  width: 425px;
  resize: none;
}

.home_button {
  padding-top: 2%;
}

.button_area {
  padding-top: 35px;
  width: 75%;
  display: flex;
  justify-content: space-around;
  margin: auto;
}

.submit_buttons {
  padding-top: 1px;
  width: 75%;
  display: flex;
  justify-content: space-around;
  margin: auto;
}

.feedback_box {
  box-shadow: 12px 12px 10px -4px black;
  margin: auto;
  margin-top: 2%;
  width: 50%;
  border-radius: 25px;
  border: 2px solid #2196f3;
  padding: 20px;
  width: 450px;
  height: 250px;
}

.comment_box {
  box-shadow: 12px 12px 10px -4px black;
  margin: auto;
  margin-top: 2%;
  width: 50%;
  border-radius: 25px;
  border: 2px solid #2196f3;
  padding: 20px;
  width: 525px;
  height: 350px;
}

.review_box {
  box-shadow: 12px 12px 10px -4px black;
  margin: auto;
  margin-top: 5%;
  width: 50%;
  border-radius: 25px;
  border: 2px solid #2196f3;
  padding: 20px;
  width: 525px;
  flex-direction: column
}

select {
  display: block;
  margin: 0 auto;
}

table {
  font-weight: bold;
  width: 90%;
  margin: auto;
  border-collapse: collapse;
  border: 2px solid rgb(77, 77, 77);
}

th {
  background-color: #000000;
  color: white;
}

tr {
  border-bottom: 1px solid rgb(77, 77, 77);
}
tr:nth-child(even) {
  background-color: lightgrey;
}
tr:nth-child(odd) {
  background-color: #54b1fd;
}

td {
  padding: 9px;
  border: 1px solid rgb(77, 77, 77);
}

tr:hover{
  background-color: white;
  transition: .4s;
}

.page_number {
  margin: auto;
  margin-top: 2px;
  width: 50%;
  padding: 10px;
  flex-direction: column
}

.page_box1 {
  background: linear-gradient(to left, white 75%, green 25%);
  margin: auto;
  margin-top: 1px;
  width: 50%;
  border: 1px solid green;
  padding: 10px;
  width: 325px;
  flex-direction: column
}

.page_box2 {
  background: linear-gradient(to left, white 50%, green 50%);
  margin: auto;
  margin-top: 1px;
  width: 50%;
  border: 1px solid green;
  padding: 10px;
  width: 325px;
  flex-direction: column
}

.page_box3 {
  background: linear-gradient(to right, green 75%, white 25%);
  margin: auto;
  margin-top: 1px;
  width: 50%;
  border: 1px solid green;
  padding: 10px;
  width: 325px;
  flex-direction: column
}

.page_box4 {
  background: green;
  margin: auto;
  margin-top: 1px;
  width: 50%;
  border: 1px solid green;
  padding: 10px;
  width: 325px;
  flex-direction: column
}